<!-- It is a partial, partial is used for-
    1. If our particular piece of code grows, then we move that code to a file, and we use that file further.
    2. Provides us code reusebility.
 -->
<header>
    <div id="container">
        <a href="/" id="app-name">Codeial</a>
        <div id="inner-container">
            <% if(locals.user){ %>       <!--Accessing a property not present in object will show no error, here user is property of locals-->
                <p><a href="/user/profile"><%= locals.user.name%></a></p>
                <p><a href="/user/sign-out">Sign-out</a></p>
            <% }else{ %>
                <p><a href="/user/sign-in">Sign-in</a></p>
                <p><a href="/user/sign-up">Sign-up</a></p>
            <% } %>
        </div>
    </div>
</header>