<link rel="stylesheet" href="/css/home.css">

<div id="home-container">

    <section id="feed-posts">
        <h1>Posts</h1>
        <% if(locals.user){ %>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
        <div id="posts-list-container" >
            <ul>
                <% for(post of posts){%>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <section id="all-users-container">
        <h1>Peoples you may know.</h1>
        <ul>
            <% for(let u of all_users){ %>
                <li>
                    <a href="/user/profile/<%= u.id%>"><%= u.name %></a>
                </li>
            <% } %>
        </ul>
    </section>

</div>