footer {
  background-color: darkgreen;
  box-shadow: 4px 5px lightgrey;
  border-radius: 8px;
  max-width: 98%;
  margin: auto;
  margin-bottom: 8px; }
  footer #container {
    display: flex;
    justify-content: space-around; }
    footer #container p {
      color: #e6e6e6;
      font-size: 1.5vw;
      font-weight: bold; }
    footer #container p:hover {
      color: white; }
