header {
  background-color: green;
  height: auto; }
  header #container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header #container #app-name {
      margin-left: 10px;
      font-size: 2.5vw;
      color: #e6e6e6;
      font-weight: bold;
      text-decoration: none; }
    header #container #app-name:hover {
      color: white; }
  header #inner-container {
    width: 40vw;
    display: flex;
    justify-content: space-evenly; }
    header #inner-container a {
      color: #e6e6e6;
      font-size: 1.5vw;
      text-decoration: none;
      font-weight: bold; }
    header #inner-container a:hover {
      color: white;
      text-decoration: underline; }
